// form {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: flex-start;
//   width: 10%;
//   text-align: center;
//   margin: 1em auto 1em auto;
// }

// label {
//   font-size: 20px;
//   font-family: Arial, Helvetica, sans-serif;
// }

form {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.ticker {
  position: absolute;
  left: 40%;
  padding-top: 10px;
  display: flex;
  gap: 2%;
}

.ticker button {
  width: 25%;
  border-radius: 8px;
  margin: auto;
  border: 3px solid black;
  color: black;
  background-color: white;
  &.disabled {
    border: 3px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}

.ticker label {
  font-size: 20px;
}

.ticker input {
  border-radius: 4px;
  font-size: 15px;
  width: 50%;
}

.similarStock {
  position: absolute;
  left: 44%;
  top: 40px;
}

.similarStock label {
  font-size: 17px;
}

.similarStock input {
}
