table {
  border-collapse: collapse;
  position: relative;
  top: 10px;
  margin-bottom: 50px;
  cursor: grab;
}

.stockNames {
  border-bottom: 1px solid black;
  text-align: center;
  padding-left: 0.5em;
}
td {
  text-align: center;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.metricLabel {
  text-align: left;
  padding-top: 0.5em;
}

.dragging-border {
  border: dashed black;
  padding-right: 2rem;
}

