table {
  border-collapse: collapse;
  position: relative;
  top: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.stockNames {
  border-bottom: 1px solid black;
  text-align: center;
  padding-left: 0.5em;
}
td {
  text-align: center;
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.isSelected {
  background-color: rgba(194, 201, 196, 0.712);
  width: fit-content;
  padding: 10px;
}

.metricLabel {
  text-align: left;
  padding-top: 0.5em;
}

.dragging-border {
  border: dashed black;
  padding-right: 2rem;  
}



