.deleteButton {
  border-radius: 4px;
  color: black;
  border: solid rgb(226, 75, 75);
  background-color: rgba(223, 50, 50, 0.904);
  height: 30px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
}
