/* form {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 185px;
}

.ticker {
  position: relative;
  padding-top: 10px;
  display: inline-block;
  width: 50%;
  margin: 0 30%;
}

.tickerButton {
  border-radius: 8px;
  margin: auto;
  border: 3px solid black;
  color: black;
  position: absolute;
  background-color: white;
  cursor: pointer;
}

.tickerButtonDisabled {
  border-radius: 8px;
  margin: auto;
  position: absolute;
  cursor: pointer;
  border: 3px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.tickerLabel {
  font-size: 20px;
}

.similarStock {
  display: inline-block;
  margin-left: 5rem;
}

.similarStockLabel {
  font-size: 17px;
}

.similarStockInput {
  cursor: pointer;
}

.searchResults {
  font-size: 14px;
  width: 50%;
  left: 32%;

  position: relative;
  right: 20px;
  cursor: pointer;
}

.searchBar {
  border-radius: 4px;
  font-size: 15px;
  margin: 0 1rem;
  width: 15rem;
} */

form {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 185px;
  width: 100%;
}

.inputContainer {
  padding-top: 10px;
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: fit-content;
}

.tickerLabel {
  font-size: 20px;
}

.searchBar {
  border-radius: 4px;
  font-size: 15px;
  margin: 0 1rem;
  width: 15rem;
}

.tickerButton {
  border-radius: 8px;
  width: 75px;
  border: 3px solid black;
  color: black;
  position: absolute;
  cursor: pointer;
}

.tickerButtonDisabled {
  border-radius: 8px;
  width: 75px;
  position: absolute;
  color: #666666;
  border: 3px solid #999999;
  background-color: #cccccc;
  cursor: not-allowed;
}

.featureContainer {
  /* responsive design here*/
  display: block;
  width: fit-content;
  /* flex-direction: column; */
  position: absolute;
  padding-top: 10px;
  right: 400px;
  /* align-items: center; */
}

/* @media (max-width: 1024px) {
  .featureContainer {

    display: block;
    width: min-content;

    position: absolute;
    padding-top: 10px;
    
    left: 0px;
  }
} */

/* .similarStockFlag {
  font-size: 17px;
} */

.newTableButton {
  border-radius: 8px;
  border: 3px solid black;
  color: black;
  cursor: pointer;
  width: 135px;
  margin-top: 20px;
}

.searchResults {
  width: 100%;
  font-size: 14px;
  position: relative;
  margin: auto;
  display: block;
  cursor: pointer;
}