form {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.ticker {
  position: relative;
  //left: 40%;
  padding-top: 10px;
  // display: flex;
  // gap: 2%;
  text-align: center;
}

.ticker button {
  border-radius: 8px;
  margin: auto;
  border: 3px solid black;
  color: black;
  background-color: white;
  &.disabled {
    border: 3px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  cursor: pointer;
}

.ticker label {
  font-size: 20px;
}

.similarStock {
  position: absolute;
  left: 63%;
  top: 22px;
}

.similarStock label {
  font-size: 17px;
}

.similarStock input {
  cursor: pointer;
}
