form {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 185px;
}

.ticker {
  position: relative;
  padding-top: 10px;
  display: inline-block;
  width: 50%;
  margin: 0 30%;
  //margin: 0 30%;
}

.ticker button {
  border-radius: 8px;
  margin: auto;
  border: 3px solid black;
  color: black;
  position: absolute;
  background-color: white;
  &.disabled {
    border: 3px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  cursor: pointer;
}

.ticker label {
  font-size: 20px;
}

.similarStock {
  display: inline-block;
  margin-left: 5rem;
}

.similarStock label {
  font-size: 17px;
}

.similarStock input {
  cursor: pointer;
}

.searchResults {
  font-size: 14px;
  width: 50%;
  left: 32%;
  
  position: relative;
  //right: 20px;
  cursor: pointer;
}

.searchBar {
  border-radius: 4px;
  font-size: 15px;
  margin: 0 1rem;
  width: 15rem;
}


